{% extends 'base.html' %}
{% load static %}

{% block header %}
  {{ block.super }}
  <link href="{% static 'final_project/src/css/kinder_list.css' %}" rel="stylesheet">

{% endblock %}

{% block main %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Список дитячих садків</h1>
      <p class="lead text-muted"> Тут ви можете обрати дитячий садок який найбільше підходить до ваших вподобань, і
        щасливого вам дня. </p>
    </div>
  </section>

  <div class="album text-muted">
    <div class="container">
      <div class="row">
        {% for kinder in kinder_list %}
          <div class="card">
            <img src="{{ kinder.image.url }}" alt="kinder">
            <p class="card-text">
              Дитячий садок: {{ kinder.name }}<br>
              Район: {{ kinder.district.name }}<br>
              Вулиця: {{ kinder.street }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
