{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block header %}
  {% endblock %}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'final_project/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'final_project/src/css/narrow-jumbotron.css' %}" rel="stylesheet">

</head>

<body>

{% block main %}
{% endblock %}
<script src="{% static 'final_project/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'final_project/popper/popper.min.js' %}"></script>
<script src="{% static 'final_project/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>