<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test app</title>
</head>
<body>
<h1>Hello world</h1>

<div>
  <ul>
    <li>{{ user }}</li>
  </ul>
</div>

<h2></h2>
<div>
  {% for article in articles %}
    <p>
      <strong>{{ article.title }}</strong>
    </p>

    <ul>
      {% for tag in article.tags.all %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
    <i>{{ article.picture.image.url }}</i>
  {% endfor %}
</div>

<div>
  <ol>
    {% for name in random_names %}
      <li>{{ name }}</li>
    {% endfor %}
  </ol>
</div>

</body>
</html>