<header class="header clearfix">

    <a class="navbar-brand" href="{% url 'main' %}"><strong class="logo-skg"> EDU </strong>Lviv SmartCity</a>

    <nav>

        <ul>

            <div class="row">

                {% for name in district_list %}

                    <a class="nav-link" href="?name={{ name }}">{{ name }}</a>

                {% endfor %}
                {% if request.user.is_authenticated %}
                    <a class="nav-item">
                        <a class="nav-link" href="{% url 'user-page' %}">Особистий кабінет</a>

                    </a>
                {% else %}
                    <a class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Зареєструватися</a>
                    </a>
                {% endif %}



                {% if request.user.is_authenticated %}
                    <a class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Вийти</a>
                    </a>
                {% else %}
                    <a class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Увійти</a>
                    </a>
                {% endif %}
            </div>

        </ul>

  </nav>


</header>