<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
          <a class="nav-link" href="search">Личаківський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Сихівський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Шевченківський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Франківський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Залізничний</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Галицький</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="signup">Зареєструватися</a>
      </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Вийти</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Увійти</a>
            </li>
        {% endif %}
    </ul>
  </nav>


    <a class="navbar-brand" href="http://127.0.0.1:8000/"><strong class="logo-skg"> EDU </strong>Lviv SmartCity</a>
</header>