<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <a class="nav-link" href="#">Личаківський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Сихівський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Шевченківський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Франківський</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Залізничний</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Галицький</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/register/">Зареєструватися</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Увійти</a>
      </li>
    </ul>
  </nav>
  <h3 class="text-muted">Lviv SmartCity</h3>
</header>